.container-header{
  height: 136px;
}

.logo-tnm {
  height: 120px;
}

.text-tnm {
  color: #616161;
  font-family: "SoberanaSans-Bold" !important;
  font-size: 20px !important;
  line-height: 28px;
  padding-top: 20px;
  text-align: center;
  text-transform: uppercase;
}

.header-users{
  padding-top: 36px;
}

.logo-itt {
  display: table-row;
  height: 120px !important;
  vertical-align: middle !important;
  width: auto;
}

.logo-itt img {
  height: 100px !important;
  margin: 20px auto 0 auto !important;
}


@media only screen and (max-width: 992px){
  .container-header{
    height: 108px;
  }

  .logo-tnm img {
    height: 80px !important;
    margin: 20px auto 0 auto !important;
  }
  .text-tnm       { width: 60%; padding-top: 15px; margin-top: -20px !important; }

  .header-users{
    padding-top: 43px;
  }

  .logo-itt img {
  height: 80px !important;
  margin: 20px auto 0 auto !important;
  }
}


#headeritt h3 {
  font-size: 20px;
  margin-bottom: 5px;
  padding-top: 5px;
}

#headeritt h4 {
  font-size: 18px;
}

@media only screen and (max-width: 768px){
  .logo-tnm       { display: none; height: 0px !important;  }
  .text-tnm       { width: 100%; padding-top: 5px; margin-top: -20px !important; }
  .logo-itt       { display: none; height: 0px !important;  }
  .header-users{
    padding-top: 43px;
  }
}
